@import "../../variables";

.home {
  min-height: 100vh;
}

.mg-top-4 {
  margin-top: 4rem;
}

.headline {
  font-weight: 700 !important;
  font-size: 3rem;

  @media #{$xs} {
    font-size: 2rem;
  }
}

.p {
  max-width: 80%;
  font-size: 1.2rem;

  @media #{$xs} {
    font-size: 1rem;
  }
}
